/* Mondial Relay Shipping Methods  */
.method-description {text-indent: 0; font-style: italic; font-size: 12px;}
.pickup-details-link {padding-left: 5px; margin-left: 10px !important;}

#pickup-selection-link {font-size: 13px; font-weight: bold; font-style: normal;}
#pickup-please-wait {margin: 10px; background: #FFF; text-align: center; color: #AD004A;}
#pickup-selected {text-indent: 0; margin: 5px 0 5px 5px; padding: 5px; background: #EEE; border: 1px solid #CCC; border-radius: 5px; }
#pickup-selected .message {text-decoration: underline; margin: 0; text-indent: 0;}
#pickup-address {
    background: url("../images/Man4x_MondialRelay/logo_mondialrelay_20.gif") no-repeat 0 50%;
    font-size: 14px; font-weight: bold; font-style: normal; padding: 0 0 0 25px; margin: 5px; text-indent: 0; line-height: 20px;}
#pickup-address .name {color: #AD004A;}
#pickup-address .address {}
#pickup-address .postcode {}
#pickup-address .city {}

/* Pick-up Selection/Info Popup */
#pickup-bkg {
    -khtml-opacity: .8; -moz-opacity: .8; filter: alpha(opacity=80); opacity: .8; background: #000; height: 100%; width: 100%;
    position: fixed; left: 0; top: 0; z-index: 1000;}

#pickup-block {
    border: 2px solid #fff; padding: 10px; width: 620px; height: 550px; background: #fff; z-index: 1000;
    position: fixed; top: 50%; left: 50%; margin: -285px 0 0 -322px; text-align: center; font-size: 12px;
}
#pickup-block h2 {
    width: 100%; height: 25px; margin-bottom: 10px;
    font-size: 20px; font-weight: bold; color: #AD004A;
}
#pickup-results-title {display: none;}
#pickup-close {
    position: absolute; right: 4px; top: 0;
    background: url("../images/Man4x_MondialRelay/close_icon.png") no-repeat 100% 50%; padding-right: 20px; 
    text-indent: -999em; cursor: pointer;}

#pickup-form {width: 100%; height: 110px; text-align: left;}
    #pickup-form h1 {margin-bottom: 5px; font-size: 22px; font-weight: bold; color: #AD004A;}
    #pickup-form li .field  {margin: 0 10px;}
		#pickup-form li .input-box {width: 100%;}
			#pickup-form li .input-box .input-text,
			#pickup-form li .input-box select {width: 90%;}
    #pickup-form .postcode {width: 90px;}
    #pickup-form .country {width: 200px;}
    #pickup-form .p-address {margin-bottom: 0; font-size: 16px; font-weight: bold;}
#pickup-picture {display: block; margin: 0 auto 10px auto; padding: 5px; border: 1px solid #CCC; max-height: 260px; max-width: 240px;}
#pickup-lochint {font-size: 16px;}
#pickup-ajax-loading {width: 100%; height: 100%; padding-top: 30px; background: #FFF; text-align: center; color: #AD004A;}
#pickup_search_btn {float: left; border: none; margin: 15px 0 0;}

#pickup-results {float: left; width: 300px; height: 420px; text-align: left;}
#pickup-results-data {height: 420px; overflow-y: auto; position: relative; cursor: pointer;}

#pickup-results-data .icon-1 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_1.png");}
#pickup-results-data .icon-2 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_2.png");}
#pickup-results-data .icon-3 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_3.png");}
#pickup-results-data .icon-4 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_4.png");}
#pickup-results-data .icon-5 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_5.png");}
#pickup-results-data .icon-6 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_6.png");}
#pickup-results-data .icon-7 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_7.png");}
#pickup-results-data .icon-8 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_8.png");}
#pickup-results-data .icon-9 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_9.png");}
#pickup-results-data .icon-10 {background-image: url("../images/Man4x_MondialRelay/mondialrelay_mapicon_10.png");}

#pickup-results-data .p-item {padding: 5px 0 0; margin: 10px 0; position: relative; background-repeat: no-repeat; background-position: 4px 8px;}
#pickup-results-data .p-item a {color: #0099FF; font-style: italic;}
#pickup-results-data .p-item h1 {
    padding: 0 0 0 30px; margin-bottom: 0 !important; border: none !important;
    color: #CA0248; font-size: 16px; line-height: 20px; font-weight: bold; text-transform: uppercase;
    }
#pickup-results-data .p-item .p-address {font-weight: bold; font-size: 12px; padding: 0 0 0 30px; margin: 0;}
#pickup-results-data .p-item .info-link {
    background: url("../images/Man4x_MondialRelay/btn_details.png") no-repeat;
    text-indent: -999em; width: 20px; height: 20px; curor: pointer; position: absolute; top: 10px; right: 5px;
}
#pickup-results-data .p-item .select-link {display: none;}
#pickup-results-data .is-active {background-color: #eee;}
#pickup-results-data .is-active .select-link {
    display: block; padding: 2px 10px;  margin-top: 5px; 
    text-align: center; color: #FFF; font-weight: bold; background: #CA0248; text-transform: uppercase; font-style: normal;
}
#pickup-results-data .p-item .p-details {margin: 10px 10px 10px 20px;}
#pickup-results-data .p-item .p-details .day {font-weight: bold; padding-right: 30px;}
#pickup-results-data .p-item .p-details .hours {}

#pickup-map {display: inline-block; width: 300px; height: 420px; border: 2px solid #CCC;}

/* Responsive design for screen width < 640 */
@media only screen and (max-width: 640px) {
    #pickup-block {width: 300px; height: 460px; margin: -240px 0 0 -160px;}
    #pickup-form .country {width: 120px;}
    #pickup-results {height: 330px;}
    #pickup-results-data {height: 330px;}
    #pickup_search_btn {
        background-image: url("../images/Man4x_MondialRelay/btn_search.png"); background-position: 50% 50%; background-repeat: no-repeat;
        text-indent: -999em; height: 32px; width: 40px; margin: 10px 0;
    }
    #pickup-results {float: none; width: 100%;}
    #pickup-map {display: none;}
}