<?xml version="1.0"?>
<config>
    <modules>
        <Man4x_MondialRelay>
            <version>1.4.6</version>	
            <depends>
                <Mage_Adminhtml />
                <Mage_Shipping />
            </depends>
        </Man4x_MondialRelay>
    </modules>
    <global>
        <models>
            <mondialrelay>
                <class>Man4x_MondialRelay_Model</class>
            </mondialrelay>
        </models>
        <blocks>
            <mondialrelay>
                <class>Man4x_MondialRelay_Block</class>
            </mondialrelay>
        </blocks>
        <helpers>
            <mondialrelay>
                <class>Man4x_MondialRelay_Helper</class>
            </mondialrelay>
        </helpers>
        <sales>
            <shipping>
                <carriers>
                    <mondialrelay>
                        <class>Man4x_MondialRelay_Model_Carrier_Abstract</class>
                    </mondialrelay>                    
                    <mondialrelay_pickup>
                        <class>Man4x_MondialRelay_Model_Carrier_Pickup</class>
                    </mondialrelay_pickup>                    
                    <mondialrelay_home>
                        <class>Man4x_MondialRelay_Model_Carrier_Home</class>
                    </mondialrelay_home>                    
                </carriers>
            </shipping>            
        </sales>
    </global>
    <frontend>
        <events>
            <sales_convert_quote_address_to_order>
                <observers>
                    <update_order_with_pickup_address>
                        <type>singleton</type>
                        <class>Man4x_MondialRelay_Model_Observer</class>
                        <method>replaceShippingAddress</method>
                    </update_order_with_pickup_address>
                </observers>
            </sales_convert_quote_address_to_order>
        </events>
        <routers>
            <mondialrelay>
                <use>standard</use>
                <args>
                    <module>Man4x_MondialRelay</module>
                    <frontName>mondialrelay</frontName>
                </args>
            </mondialrelay>
        </routers>
        <layout>
            <updates>
                <mondialrelay>
                    <file>Man4x_MondialRelay.xml</file>
                </mondialrelay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Man4x_MondialRelay>
                    <files>
                        <default>Man4x_MondialRelay.csv</default>
                    </files>
                </Man4x_MondialRelay>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <mondialrelay>
                <use>admin</use>
                <args>
                    <module>Man4x_MondialRelay</module>
                    <frontName>mondialrelay</frontName>
                </args>
            </mondialrelay>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <add_mondialrelay_shipping_code>
                        <type>singleton</type>
                        <class>Man4x_MondialRelay_Model_Observer</class>
                        <method>registerShipment</method>
                    </add_mondialrelay_shipping_code>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <translate>
            <modules>
                <Man4x_MondialRelay>
                    <files>
                        <default>Man4x_MondialRelay.csv</default>
                    </files>
                </Man4x_MondialRelay>
            </modules>
        </translate> 
    </adminhtml>
    <default>
        <carriers>
            <mondialrelay>
                <active>false</active>
                <model>Man4x_MondialRelay_Model_Carrier_Abstract</model>
                <company>BDTEST13</company>
                <company_ref_ws>BD</company_ref_ws>
                <key_ws>PrivateK</key_ws>
                <url_ws>http://www.mondialrelay.fr/WebService/Web_Services.asmx?WSDL</url_ws>
                <company_ref_tracking>BDTEST1311</company_ref_tracking>
                <key_tracking>PrivateK</key_tracking>
                <url_tracking>http://www.mondialrelay.fr/lg_fr/espaces/url/popup_exp_details.aspx?cmrq=</url_tracking>
                <auto_ws>1</auto_ws>
                <collection_mode>CCC</collection_mode>
                <display_weight>1</display_weight>
                <label_size>A4</label_size>
                <sender_address>EXPEDITEUR
Adresse
Adresse (complément)
Adresse (complément)</sender_address>
                <sender_postcode>75000</sender_postcode>
                <sender_city>Paris</sender_city>
                <sender_country>FR</sender_country>
                <sender_phone>0123456789</sender_phone>
                <sender_mobile>0612345678</sender_mobile>
                <sender_email>test@test.com</sender_email>
                <rate_condition>package_weight</rate_condition>
                <catalog_weight_unit>kg</catalog_weight_unit>
                <max_weight_per_box>0</max_weight_per_box>
                <sendemail>1</sendemail>
                <debug_mode>0</debug_mode>
            </mondialrelay>
            <mondialrelaypickup>
                <active>1</active>
                <model>Man4x_MondialRelay_Model_Carrier_Pickup</model>
                <carrier_title>Mondial Relay - Livraison en relais</carrier_title>
                <active_colisdrive>1</active_colisdrive>
                <title>Livraison dans le Points Relais® de votre choix</title>
                <desc>Une fois votre colis arrivé dans votre Points Relais®, vous êtes averti(e) par SMS ou par email et disposez de 10 jours pour le récupérer.</desc>
                <map_selection>1</map_selection>
                <relay_count>10</relay_count>
            </mondialrelaypickup>
            <mondialrelayhome>
                <active>1</active>
                <model>Man4x_MondialRelay_Model_Carrier_Home</model>
                <carrier_title>Mondial Relay - Livraison à domicile</carrier_title>
                <title>Formule Standard</title>
                <desc>Livraison sans rendez-vous, sur le pas de votre porte/immeuble.</desc>
                <active_comfort>1</active_comfort>
                <title_comfort>Formule Confort</title_comfort>
                <desc_comfort>Livraison sur rendez-vous, sur le pas de votre porte/immeuble.</desc_comfort>
                <active_premium>1</active_premium>
                <title_premium>Formule Premium</title_premium>
                <desc_premium>Livraison et installation à domicile sur rendez-vous.</desc_premium>
           </mondialrelayhome>
        </carriers>
    </default>
</config>
